body {
    margin: 0;
    padding: 0;
}

.grey {
    background-color: #504f4f;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.flex-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    color: #FFFFFF;
    font-size: 18px;
    margin: 10px 10px 10px 10px;
    column-gap: 10px;
    row-gap: 10px;
}

p {
    color: red;
}

.header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 14px;
}

.header-left {
    width: 19%;
    height: 100%;
}

.header-right {
    width: 80%;
    height: 100%;
}

.body   {
    height: 70%;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.nav    {
    width: 19%;
    height: 69%;
    order: 0;
}

.stlocat    {
    width: 19%;
    height: 14%;
    order: 1;
}

.tools  {
    width: 19%;
    height: 13%;
    order: 2;
}

.bath   {
    width: 59%;
    height: 24%;
    order: 3;
}
.types  {
    width: 59%;
    height: 74%;
    order: 4;
}
.ad {
    width: 19%;
    height: 24%;
    order: 5;
}
.prod   {
    width: 19%;
    height: 74%;
    order: 6;
}

@media screen and (max-width: 576px) {
    .container  {
        row-gap: 5px;
        column-gap: 5px;
        height: 120%;
    }
    .header {
    height: 10%;
    row-gap: 5px;
    column-gap: 5px;
}
    .body   {
    row-gap: 5px;
    column-gap: 5px;
    flex-direction: row;
}

    .nav    {
        order: 0;
        width: 100%;
        height: 10%;
    }

    .stlocat    {
        order: 5;
        width: 49%;
        height: 10%;
    }

    .tools  {
        order: 6;
        width: 49%;
        height: 10%;
    }

    .bath   {
        order: 1;
        width: 69%;
        height: 15%;
    }
    .types  {
        order: 3;
        width: 100%;
        height: 40%;
    }
    .ad {
        order: 2;
        width: 29%;
        height: 15%;
    }
    .prod   {
        order: 4;
        width: 100%;
        height: 20%;
    }
}


